<template>
    <div class="sorry">
        <div class="container pt-5 text-center">
            <img v-if="isNotAllowed === 0" class="mb-3" src="../../assets/imgs/cat-please-please.gif" height="450px"
                 alt="">
            <img v-else-if="isNotAllowed === 1" src="../../assets/imgs/sad-cat-at-mirror.gif" height="450px" alt="">
            <img v-else-if="isNotAllowed === 2" src="../../assets/imgs/sad-cat.gif" height="450px" alt="">
            <img v-else-if="isNotAllowed === 3" src="../../assets/imgs/sad-orange-cat.gif" height="450px" alt="">
            <div class="fs-1 mt-3">Bé iuu thaaa lỗiiii choooo anhhhh nhóoo &#128575;</div>
            <div class="mt-3 fs-3">Bé mà thoát thì xem như đã tha lỗi cho anh rồi đó</div>
            <div class="d-flex mt-3 justify-content-between align-items-center w-50 mx-auto">
                <router-link to="/result" class="text-decoration-none">
                    <button :style="'scale:' + scaleUp" class="btn-allow">
                        <svg class="empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32"
                             height="32">
                            <path fill="none" d="M0 0H24V24H0z"></path>
                            <path
                                d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2zm-3.566 15.604c.881-.556 1.676-1.109 2.42-1.701C18.335 14.533 20 11.943 20 9c0-2.36-1.537-4-3.5-4-1.076 0-2.24.57-3.086 1.414L12 7.828l-1.414-1.414C9.74 5.57 8.576 5 7.5 5 5.56 5 4 6.656 4 9c0 2.944 1.666 5.533 4.645 7.903.745.592 1.54 1.145 2.421 1.7.299.189.595.37.934.572.339-.202.635-.383.934-.571z"></path>
                        </svg>
                        <svg class="filled" height="32" width="32" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0H24V24H0z" fill="none"></path>
                            <path
                                d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path>
                        </svg>
                        Em chấp nhận
                    </button>
                </router-link>
                <button :style="'scale:' + scaleDown" v-if="isNotAllowed<3" @click="plusNotAllow" class="btn-not-allow">
                    Không &#128574;
                </button>
                <button :style="'scale:' + scaleDown" v-else class="btn-not-allow">
                    Tha lỗi cho anh đi mà bé iuuu &#128575;
                </button>
            </div>
        </div>
        <video ref="videoPlayer" preload="auto" autoplay loop>
            <source src="../../assets/media/music.mp4" type="video/mp4">
        </video>
    </div>
</template>

<script>
export default {
    name: "Sorry",
    data() {
        return {
            isNotAllowed: 0,
            scaleUp: 1,
            scaleDown: 1
        }
    },
    methods: {
        plusNotAllow() {
            if (this.isNotAllowed < 3) {
                this.isNotAllowed++;
                this.scaleUp = 1 + (this.isNotAllowed + 2) / 10;
                this.scaleDown = 1 - (this.isNotAllowed + 2) / 10;
            }
        }
    },
    mounted() {

    }
}
</script>

<style scoped>
.btn-allow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 20px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
}

@keyframes movingBorders {
    0% {
        border-color: #fce4e4;
    }

    50% {
        border-color: #ffd8d8;
    }

    90% {
        border-color: #fce4e4;
    }
}

.btn-allow:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
}

.btn-allow svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
}

.filled {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 22px;
}

@keyframes beatingHeart {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.15);
    }

    30% {
        transform: scale(1);
    }

    45% {
        transform: scale(1.15);
    }

    60% {
        transform: scale(1);
    }
}

.btn-allow:hover .empty {
    opacity: 0;
}

.btn-allow:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
}

.btn-not-allow {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.btn-not-allow:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.btn-not-allow:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}
</style>