<template>
    <div class="result d-flex align-items-center justify-content-center">
        <div class="container text-center pt-5">
            <img src="../../assets/imgs/peach-goma.gif" alt="" height="450">
            <div class="text-result mt-5">
                Anh iu bé nhất trên đời, hứa lần sau sẽ <br>
                không làm bé iu giận nữaaa ạ
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Result"
}
</script>

<style scoped>
.text-result {
    font-weight: bold;
    font-size: 42px;
    color: #EA71DE;
}

@media only screen and (max-width: 756px) {
    img {
        width: 100%;
        height: 100%;
    }
}
</style>