<template>
    <div class="home d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="text-center">
                <div class="fs-1" style="color: #EA71DE">Bé yêu ơiiiiii<br>Anh có điều này muốn nói ạ</div>
<!--                <input v-model="email" type="email" id="email-id" name="email-id" class="input__email mt-5"-->
<!--                       placeholder="Nhập địa chỉ mail của bạn">-->
                <button @click="submitEmail" type="submit" class="d-block btn-mail mx-auto mt-5 fs-4">
                    Ấn zô đây nè bé &#128151
                    <span class="icon-1">
                        <img src="../../assets/icons/leaf-1.svg" alt="">
                    </span>
                    <span class="icon-2">
                        <img src="../../assets/icons/leaf-2.svg" alt="">
                    </span>
                    <span class="icon-3">
                        <img src="../../assets/icons/leaf-3.svg" alt="">
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import {useRouter} from "vue-router";
import {onMounted, ref} from "vue";

export default {
    name: "Home",
    setup() {
        const router = useRouter();
        const email = ref('')

        function submitEmail() {
            router.push('/sorry-bae')
        }

        onMounted(() => {

        })

        return {
            email,
            submitEmail
        }
    }
}
</script>

<style scoped>

</style>