@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

html, body {
    font-family: "Freeman", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    color: #000;
    position: relative;
    background-color: #F9DFF6 !important;
}

.home {
    height: 100vh;
}

.input__email {
    width: 60%;
    padding: 16px 18px;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 0 0 0 1px #f8bfbf;
    border: none;
    border-radius: 25px;
    background-color: #fff5f5;
    transition: all .3s;
}

.input__email::placeholder {
    color: #ce9797;
    font-size: 16px;
}

.input__email:focus {
    outline: none;
    box-shadow: 0 0 10px 1px #ee8c8c;
    border: none;
    transition: all .3s;
}

.btn-mail {
    position: relative;
    padding: 15px 45px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    cursor: pointer;
    border-radius: 50px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
    border: 1px solid #f3b182;
    background: linear-gradient(
            85deg,
            #fec195,
            #fcc196,
            #fabd92,
            #fac097,
            #fac39c
    );
    animation: wind 2s ease-in-out infinite;
}

.btn-mail.disable {
    background: #ccc;
    cursor: not-allowed !important;
}

@keyframes wind {
    0% {
        background-position: 0% 50%;
    }

    0% {
        background-position: 50% 100%;
    }

    0% {
        background-position: 0% 50%;
    }
}

.icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

button .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
}

@keyframes slay-1 {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

button .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

button .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

@media only screen and (max-width: 756px){
    .input__email {
        width: 100% !important;
    }

    .sorry .container img {
        height: 330px;
    }

    .w-50.mx-auto {
        width: 100% !important;
        flex-direction: column;
    }

    .btn-allow {
        font-size: 20px !important;
        padding: 10px 20px !important;
    }

    .btn-not-allow {
        font-size: 20px !important;
        padding: 10px 50px !important;
        margin-top: 20px;
    }
}
