<template>
    <div id="app">
        <RouterView></RouterView>
    </div>
</template>

<script>
import Home from "./view/home/index.vue";

export default {
    name: "App",
    components: {
        Home,
    },
    computed: {

    },
}
</script>

<style scoped>
</style>
